header {
    grid-area: footer;
    background: #8e44ad;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}
main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}
footer {
    grid-area: footer;
    background: #eee;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #888;
}
aside {
    grid-area: sidebar;
    background: #fff1f4;
}
main {
    grid-area: main;
    background: #ffafc0;
}
h1 {
    margin: 0;
}
.layout {
    display: grid;
    grid-template-rows: 60px 60px auto 60px;
    grid-template-colums: 1fr;
    grid-template-areas: 'header' 'sidebar' 'main' 'sidebar' 'footer';
    height: 100vh;
}
@media (min-width: 400px){
    .layout {
    display: grid;
    grid-template-rows: 60px auto 60px;
    grid-template-colums: 160px auto;
    grid-template-areas: 
        'header header header' 
        'sidebar main sidebar'
        'footer footer footer';
    }
}
/*Calendar Widget*/
@font-face {
    font-family: "MyFont";
    ;
    src: url("Pixellari.ttf") format("truetype");
}
#body {
    background-color: #fff1f4;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#date-box {
    margin-top: 200px;
    background-color: #d3e7a3;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
    padding: 25px;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-color: #ffafc0;
    font-family: "My Font", sans-serif;
    font-size: 25px;
}

.line {
    display:block;
}


